
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

html, body, h1, p, h2, h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* CSS HEX */
:root{
  --eerie-black: #262626ff;
  --eerie-black-2: #1c1c1cff;
  --space-cadet: #292c51ff;
  --medium-slate-blue: #6c77efff;
  --blue: #0017ffff;
  --yellow-ryb: #ffff33ff;
  --white: #fdfdfdff;
  --light-gray: #ced5d9ff;
}

body {
    background-color: var(--eerie-black-2);
    min-height: 100vh;
    /* overflow: hidden; */
}
.notes--main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.text--600 {
  font: 20px Iceland, sans-serif;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}

.text-blue {
    color: var(--medium-slate-blue);
}

.text-white {
    color: var(--white)
}
.text-right {
    text-align: right;
}

.true-inner-shadow {
    position: relative;
}

.true-inner-shadow::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.text-link {
  font: 20px Iceland, sans-serif;
}

.true-inner-shadow::after {
    content: attr(title);
    color: var(--yellow-ryb);
    /* filter: brightness(50%); */
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 10;
}

table.Table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffff33ff;
  border-style: solid;
  font-family: Iceland, sans-serif;
  color: #000000;
}

table.Table td, table.Table th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
}

table.Table thead {
  background-color: #ffff33ff;
}